/* CSS handling for service.html */

#ttsAudioPlayer {
    margin-top:45vh;
    width:50%;
    justify-content: center;
    position: relative;
    text-align: center;
    display:flex;
}

.audioplayer {
    justify-content: center;
    position: relative;
    text-align: center;
    display:flex;
}

#spinner {
    margin-top: 25vh;
    width: 30vw; 
    height: 30vw; 
    color: white;
    display:flex;
    vertical-align: middle;
}

#audioButton {
    background-color: #1f4d29;
}

#audioButton:hover {
    background-color: #000000;
}

#chooseImageButton:hover {
    background-color: #000000;
}