{% extends 'base.html' %}

{% block head %}
<title> Envisonet | Service </title>

<!-- Loads OpusMediaRecorder.umd.js -->
<script src="../../static/js/OpusMediaRecorder/OpusMediaRecorder.umd.js"></script>
<!-- Creates OpusMediaRecorder.encoderWorker.umd.js -->
<script src="../../static/js/OpusMediaRecorder/encoderWorker.umd.js"></script>

{% endblock %}

{% block body %}
<!-- Image upload button -->
<button id="chooseImageButton" class="btn btn-primary btn d-block w-100" style="height: 50vh; font-size: 10vw; padding: 1.5rem; border-radius: 0; font-weight: 900;">Submit a Photo</button>

<!-- Audio button -->
<button id="audioButton" class="btn btn-success btn d-block w-100" onclick="" style="height: 50vh; font-size: 10vw; padding: 1.5rem; border-radius: 0; font-weight: 900;" >Start Recording</button>

<!-- File input for image (this is hidden from the user) -->
<input type="file" id="fileInput" accept="image/*,android/force-camera-workaround" style="display: none;"/>

<!-- Spinner to appear when the website is loading the response (initially hidden) -->
<div id="waiting" class="px-0 mx-0 w-100 text-center justify-content-center" style=" height: 100vh; background-color: #1f4d29; display: none;">
    <div id="spinnerdiv" class="d-flex justify-content-center text-center" style="display: none;">
        <div id="spinner" class="spinner-grow" style="display: none;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <!-- Reload disclaimer to appear under spinner -->
    <p id="reloadDisclaimer" class="text-light pt-5" style="display: none;">Reload the page if you do not recieve a response within 30s.</p>

    <!-- Audio player for TTS response -->
    <div class="audioplayer">
        <audio id="ttsAudioPlayer" controls style="display: none;"></audio>
    </div>
</div>

<!-- Reference JS in ServiceJS files -->
<script src="../../static/js/ServiceJS/service_imageButton.js"></script>
<script src="../../static/js/ServiceJS/service_main.js"></script>

{% endblock %}
